## FAO FOOD PRICE INDEX AGGREGATED

In [46]:
import pandas as pd

In [47]:
path_food2 = "raw_data/food_price_indices_data_dec.xlsx"

In [48]:
data_food = pd.read_excel(path_food2, sheet_name = 0, header = 2)

In [49]:
data_food_war = data_food[data_food["Date"].dt.year >= 2005].reset_index(drop = True)
data_food_war = data_food_war.iloc[:, :7]
data_food_war.head()

,Date,Food Price Index,Meat,Dairy,Cereals,Oils,Sugar
0,2005-01-01,65.817732,69.900493,76.218818,60.498963,63.148938,53.967362
1,2005-02-01,66.239417,71.114416,76.667647,60.270378,62.266322,56.331547
2,2005-03-01,67.505944,71.716026,77.006677,61.548040,66.742673,54.962660
3,2005-04-01,65.966699,70.401146,76.176464,59.545053,65.074789,53.156953
4,2005-05-01,66.547678,72.588205,76.510790,59.366422,64.226901,53.132052

In [50]:
data_food_war.to_csv("../../data/final/trade-data/final_datasets/data_food_v2.csv", index = False)