In [42]:
import pandas as pd

In [43]:
path_acled  = "raw_data/Europe-Central-Asia_aggregated_data_up_to-2026-01-10.xlsx"
data_acled = pd.read_excel(path_acled)
data_acled.head()

,WEEK,REGION,COUNTRY,ADMIN1,EVENT_TYPE,SUB_EVENT_TYPE,EVENTS,FATALITIES,POPULATION_EXPOSURE,DISORDER_TYPE,ID,CENTROID_LATITUDE,CENTROID_LONGITUDE
0,2018-06-09,Europe,Akrotiri and Dhekelia,Akrotiri,Protests,Peaceful protest,1,0,183.0,Demonstrations,4120.0,34.6,32.9586
1,2022-02-19,Europe,Akrotiri and Dhekelia,Akrotiri,Protests,Peaceful protest,1,0,193.0,Demonstrations,4120.0,34.6,32.9586
2,2022-05-28,Europe,Akrotiri and Dhekelia,Akrotiri,Protests,Peaceful protest,1,0,89.0,Demonstrations,4120.0,34.6,32.9586
3,2024-01-13,Europe,Akrotiri and Dhekelia,Akrotiri,Protests,Peaceful protest,1,0,197.0,Demonstrations,4120.0,34.6,32.9586
4,2024-09-28,Europe,Akrotiri and Dhekelia,Akrotiri,Protests,Peaceful protest,1,0,197.0,Demonstrations,4120.0,34.6,32.9586

In [44]:
data_acled = data_acled[data_acled["COUNTRY"] == "Ukraine"]
data_acled['YEAR'] = pd.to_datetime(data_acled['WEEK']).dt.year

In [45]:
data_sub_event = data_acled.groupby(["WEEK", 'YEAR', 'EVENT_TYPE', 'SUB_EVENT_TYPE'])['EVENTS'].sum().reset_index()

In [46]:

data_sub_evens_ukr = data_sub_event.drop(["EVENT_TYPE"], axis = 1).reset_index(drop = True)
sub_event_type_events = data_sub_evens_ukr[(data_sub_evens_ukr["SUB_EVENT_TYPE"] == "Shelling/artillery/missile attack") |
                                           (data_sub_evens_ukr["SUB_EVENT_TYPE"] == "Air/drone strike") |
                                           (data_sub_evens_ukr["SUB_EVENT_TYPE"] == "Armed clash")]
sub_event_linechart = sub_event_type_events[sub_event_type_events["YEAR"] >= 2022].reset_index(drop = True)
sub_event_linechart['WEEK'] = sub_event_linechart['WEEK'].dt.strftime('%Y-%m-%d')

In [47]:
sub_event_linechart.to_json("../../data/final/events_line_chart/events_line_chart_v2.json", orient='records')